main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main #attraction__top {
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  display: flex;
  padding: 2%;
}
main #attraction__top #attraction__top__pics {
  width: 50%;
  padding: 0 1.3%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
main #attraction__top #attraction__top__pics #attraction__top__pic {
  width: 100%;
  height: 400px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
main #attraction__top #attraction__top__pics #attraction__top__pic__dots {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 3%;
}
main #attraction__top #attraction__top__pics #attraction__top__pic__dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
  margin: 0 3px;
  opacity: 0.7;
}
main #attraction__top #attraction__top__pics #attraction__top__pic__dots .dot--active {
  background-color: black;
}
main #attraction__top #attraction__top__pics #attraction__top__pics__left-btn,
main #attraction__top #attraction__top__pics #attraction__top__pics__right-btn {
  width: 100%;
  max-width: 30px;
  position: absolute;
  top: 50%;
  opacity: 0.5;
  cursor: pointer;
}
main #attraction__top #attraction__top__pics #attraction__top__pics__left-btn:hover,
main #attraction__top #attraction__top__pics #attraction__top__pics__right-btn:hover {
  opacity: 1;
}
main #attraction__top #attraction__top__pics #attraction__top__pics__left-btn {
  left: 3%;
}
main #attraction__top #attraction__top__pics #attraction__top__pics__right-btn {
  right: 3%;
}
main #attraction__top #attraction__top__info {
  width: 50%;
  height: 400px;
}
main #attraction__top #attraction__top__info .attraction__top__content {
  margin-bottom: 20px;
}
main #attraction__top #attraction__top__info #attraction__top__info__name {
  font-size: 24px;
}
main #attraction__top #attraction__top__info #attraction__top__info__catAndMRT {
  font-weight: normal;
}
main #attraction__top #attraction__top__info #attraction__top__info__booking__area {
  background-color: rgb(232, 232, 232);
  padding: 3%;
  border-radius: 5px;
}
main #attraction__top #attraction__top__info #attraction__top__info__booking__area br {
  display: block;
  margin-bottom: 20px;
  line-height: 0;
  content: "";
}
main #attraction__top #attraction__top__info #attraction__top__info__booking__area input[name=booking-time] {
  accent-color: rgb(68, 136, 153);
}
main #attraction__top #attraction__top__info #attraction__top__info__booking__area #booking-btn {
  width: 41%;
  color: white;
  background-color: rgb(68, 136, 153);
  padding: 1% 5%;
  border-radius: 10px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
main #attraction__bottom {
  max-width: 1200px;
  width: 100%;
  padding: 3% 0.8%;
  border-top: 1px solid rgb(232, 232, 232);
}
main #attraction__bottom .attraction__bottom__content {
  margin-bottom: 2%;
}

@media (max-width: 929px) {
  main #attraction__top {
    padding: 0;
  }
  main #attraction__top #attraction__top__pics {
    width: 100%;
    height: auto;
    padding: 0;
  }
  main #attraction__top #attraction__top__pics #attraction__top__pic {
    height: 500px;
  }
  main #attraction__top #attraction__top__info {
    width: 100%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 0 3%;
  }
  main #attraction__bottom {
    padding: 10% 5%;
    border-top: 1px solid rgb(232, 232, 232);
  }
  main #attraction__bottom .attraction__bottom__content {
    margin-bottom: 5%;
  }
}
@media (max-width: 601px) {
  main #attraction__top {
    padding: 0;
  }
  main #attraction__top #attraction__top__pics {
    width: 100%;
    height: auto;
    padding: 0;
  }
  main #attraction__top #attraction__top__pics #attraction__top__pic {
    height: 250px;
  }
  main #attraction__top #attraction__top__pics #attraction__top__pic__dots .dot {
    width: 8px;
    height: 8px;
  }
  main #attraction__top #attraction__top__info {
    width: 100%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    padding: 0 3%;
  }
  main #attraction__bottom {
    padding: 10% 5%;
    border-top: 1px solid rgb(232, 232, 232);
  }
  main #attraction__bottom .attraction__bottom__content {
    margin-bottom: 5%;
  }
}/*# sourceMappingURL=attraction.css.map */