$theme-color: rgb(68, 136, 153);
$decorate-color: rgb(232, 232, 232);

main {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  // width: 100%;
  // max-width: 1200px;
  // margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;

  div#main__greeting {
    border: 1px solid black;
    max-width: 1000px;
    // padding: 0 100px;
    width: 100%;
    margin: 30px 0;
    font-weight: bold;
  }

  div#main__booking__info__area {
    max-width: 1000px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    position: relative;
    border: 1px solid blue;

    img#main__booking__info__delete {
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }

    img#main__booking__info__img {
      width: 250px;
      height: 200px;
      background-color: aqua;
      margin-right: 30px;
    }

    div#main__booking__info {
      width: 70%;
      max-width: 700px;

      div#main__booking__info__attraction-name {
        font-weight: bold;
        color: $theme-color;
        margin-bottom: 30px;
      }

      div.main__booking__info__item {
        margin-bottom: 10px;
      }
    }
  }
}

hr {
  width: 100%;
  max-width: 1200px;
  border: 1px solid $decorate-color;
  margin: 0 auto;
}

main {
  div.main__block {
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
    margin: 30px 0;
    // text-align: start;
    // border: 1px solid green;
  }

  div.main__block__title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 15px;
  }

  .main__block__labels,
  .main__block__inputs,
  .main__block__content {
    margin-bottom: 15px;
  }

  .main__block__inputs {
    width: 20%;
    border: 1px solid $decorate-color;
    border-radius: 5px;
    padding: 10px;
  }

  div#price-submit {
    width: 100%;
    max-width: 1000px;
    padding: 0 10px;
    text-align: end;
    margin: 30px 0;

    .booking-btn {
      text-align: end;
      font-size: 19px;
      width: 18%;
      color: white;
      background-color: rgb(68, 136, 153);
      padding: 1% 2%;
      border-radius: 5px;
      text-align: center;
      line-height: 19px;
      margin-left: auto;
    }
  }
}

.bold {
  font-weight: bold;
}

// // 使用偽元素作分隔線，未完
// body {
//   main {
//     div.main__block {
//       position: relative; // 設定為 relative，以便伪元素正確定位
//       // padding-bottom: 10px; // 底部內邊距，用來分隔項目
//       width: 100%; // 确保 main__block 占据可用宽度

//       &::after {
//         content: "";
//         display: block;
//         width: 1200px !important;
//         // height: 1px; // 设置分隔线的高度
//         background-color: $decorate-color; // 设置分隔线的颜色
//         margin: 0 auto; // 使用 auto 水平居中分隔线
//         padding-bottom: 30px;
//       }

//       &:last-child::after {
//         content: none; // 移除最后一个item后的分隔线
//       }
//     }
//   }
// }
